{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Form</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css":>
<style>
    body{
        background: linear-gradient(to right, #dcd8e0, #f2f89d);
    }
    button[name="Resume-List"]{
                position: absolute;
                right: 50px;
                padding: 09px;
                margin-top: -20px;}
                button[name="Logout"]{
                position: absolute;
                right: 50px;
                padding: 09px;
                margin-top: -50px;
            }
            
    
</style>
</head>
<body>
    <div class="container">
        <h1><center>Resume</h1></center>
        <form action="{%url 'logout'%}">
            <button class="btn btn-danger" name="Logout">Logout</button>
            </form>
            <br>

            <form action="{%url 'resume_list'%}">
                <button class="btn btn-danger" name="Resume-List">Resume-list</button>
                
            </form>
            <br>
            <br>

    
        
        

        
        <form method="post">
            {% csrf_token %}
            {{form|crispy }}
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </form>
        {%if messages%}
        {% for message in messages%}
        <script>
            alert("{{message}}")
        </script>
        {%endfor%}
        {%endif%}
        
    </div>
</body>
</html>